.loader {
    position: static;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100vmin;
    border: 3px solid transparent;
    border-top-color: var(--c-1);
    animation: an1 1s linear infinite;
}
@keyframes an1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

.hidden {
    display: none;
}
